---
import Base from '@layouts/Base.astro';

---

<Base meta_title="About">
  <h1 class="text-3xl md:text-5xl font-bold text-gray-800 mt-6 mb-8">HAS LLEGADO HASTA AQUÍ POR ALGO</h1>

<p class="text-xl md:text-3xl mb-6 leading-relaxed">
    Necesitas atraer más clientes y aumentar tus ventas. Entiendo los retos que enfrentas porque los he vivido. Si estás listo para escalar tus ventas, quédate y descubre cómo puedes cambiar la trayectoria de tu negocio.
</p>

<!-- Ejemplo de Imagen -->
<div class="my-8 mx-auto">
    <img src="https://media.istockphoto.com/id/537309478/es/foto/mujer-trabajando-en-la-panader%C3%ADa.jpg?s=612x612&w=0&k=20&c=W2vO8ZfZAMlp9CzahmdJGl-B7tQmzVJqwcHd9m9VXOs=" alt="Descripción de la imagen" class="w-full h-auto md:h-100">
</div>



<h3 class="text-2xl md:text-3xl font-bold text-gray-800 mt-8 mb-6">Las Delicias de Carmen, De Pastelería Local a Éxito Online</h3>
<p class="text-xl md:text-3xl mb-6 leading-relaxed">
    Érase una vez Carmen, propietaria de una pastelería conocida en su barrio por sus deliciosos postres. Sin embargo, con el tiempo, notó que las visitas a su tienda disminuían. A pesar de la calidad de sus dulces, la campanita de la puerta sonaba cada vez menos.
</p>

<h3 class="text-xl md:text-3xl font-bold text-gray-800 mt-8 mb-6">¿Acaso ya no gustaban sus dulces?</h3>
<p class="text-xl md:text-3xl mb-6 leading-relaxed">
    Carmen, ahora casi todas las personas compran por internet. ¿Qué tal si abrimos una tienda online?, sugirió su amigo Guillermo, un curioso del mundo digital. Motivada por su consejo, Carmen decidió adaptarse a los nuevos tiempos.
</p>
<p class="text-xl md:text-3xl mb-6 leading-relaxed">
    Guillermo se encargó de organizar todo. "Contrataremos un experto en diseño web y lanzaremos campañas de Facebook Ads para atraer clientes de todas partes."
</p>
<p class="text-xl md:text-3xl mb-6 leading-relaxed">
    No pasó mucho tiempo antes de que Carmen observara los efectos de la nueva estrategia. Su página web era atractiva y funcional, y los anuncios en Facebook comenzaron a atraer muchos nuevos clientes. "Esto es realmente mágico", reflexionó Carmen al ver cómo su pequeño negocio comenzaba a florecer.
</p>

<h3 class="text-xl md:text-3xl font-bold text-gray-800 mt-8 mb-6">¿Es este el final?</h3>
<p class="text-xl md:text-3xl mb-6 leading-relaxed">
    Para nada, esto fue solo el comienzo de un próspero e-commerce.
</p>

<h3 class="text-xl md:text-3xl font-bold text-gray-800 mt-8 mb-6">¿Te identificas con Carmen en la búsqueda de mayor visibilidad y ventas?</h3>
<p class="text-xl md:text-3xl mb-6 leading-relaxed">
    Soy John Murcia, un emprendedor que se transformó en un experto en Facebook Ads y desarrollo web. Mi experiencia me ha enseñado a identificar y abordar las necesidades esenciales que enfrentamos en el mercado digital.
</p>
<p class="text-xl md:text-3xl mb-8 leading-relaxed">
    Con más de 5 años en el campo, he ayudado a diversas marcas a maximizar su presencia online y ventas, diseñando sitios web que no solo son visualmente impresionantes sino que están optimizados para convertir visitantes en clientes leales.
</p>


<div class="text-center">
  <p class="text-3xl md:text-5xl font-bold mb-12">
      ¿Estás listo para llevar tu negocio al siguiente nivel?
  </p>
  <div>
      <a href="/Contacto" class="inline-block text-white font-bold py-4 px-6 rounded-lg transition duration-300 ease-in-out text-lg bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900">
          Contáctame
      </a>
  </div>
</div>



    
    
  </Page>
</Base>
